<!DOCTYPE html>
<html lang="en">

<head>
    <!-- https://bootsnipp.com/snippets/ZlkBn -->
    <title></title>
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="client/index.js"></script>
</head>

<body>
    <div class="chat_window">
        <ul class="messages"></ul>
        <div class="bottom_wrapper clearfix">
            <div class="message_input_wrapper"><input class="message_input" placeholder="Type your message here..." /></div>
            <div class="send_message">
                <div class="icon"></div>
                <div class="text">Send</div>
            </div>
        </div>
    </div>
    <div class="message_template">
        <li class="message">
            <!--<div class="avatar"></div>-->
            <div class="text_wrapper">
                <div class="text"></div>
            </div>
        </li>
    </div>
</body>

</html>
